## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
**/[Pp]ackages/*

## VS Code
.vscode/

## IDE
.idea/
*.swp
*.swo

## Environment
.env

## Database
*.db
*.db-journal
*.db-shm
*.db-wal

## OS
.DS_Store
Thumbs.db
/.vs/TelcoNet.slnx/FileContentIndex
